{% extends "layout.html.twig" %}

{% block title %}Add player{% endblock %}

{% block content %}
    <h2>Add player</h2>
    <form method="POST">
        <div class="row">
            <div class="col-md-6">
                <div class="form-group">
                    <label for="leagueSelect">League</label>
                    <select class="form-control" id="leagueSelect" name="league">
                        {% for league in leagues %}
                            <option value="{{ league.id }}">{{ league.name }}</option>
                        {% endfor %}
                    </select>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-6">
                <div class="form-group">
                    <label for="name">Name</label>
                    <input class="form-control" id="name" placeholder="Enter name" name="name">
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-6">
                <div class="form-group">
                    <label for="password">Password</label>
                    <input type="password" class="form-control" id="password" placeholder="Password" name="password"/>

                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-6">
                <div class="form-group">
                    <button class="btn btn-primary">Submit</button>
                </div>
            </div>
        </div>
    </form>
{% endblock %}
