{% extends "layout.html.twig" %}

{% block title %}Player {{ player.name }}{% endblock %}

{% block content %}
    <h2>Player <strong>{{ player.name }}</strong></h2>
    <form method="POST" action="/player/delete">
        <div class="row">
            <div class="col-md-6">
                <p>
                    Score: <strong>{{ player.score }}</strong>
                </p>
                <input type="hidden" name="id" value="{{ player.id }}">
                <button class="btn btn-danger">Delete</button>
            </div>
        </div>
    </form>
{% endblock %}
