{% extends "layout.html.twig" %}

{% block content %}
<div class="row">
    <div class="col-md-8">
        <h2>Results</h2>
        <a href="/result/add" class="btn btn-primary">Add result</a>
    </div>
    <div class="col-md-4">
        <h2>Players</h2>
    </div>
</div>
{% endblock %}
