{% extends "layout.html.twig" %}

{% block content %}
<div class="row">
    <div class="col-md-8">
        <h2>Recent results</h2>
        {% include 'result/list.html.twig' %}
    </div>
    <div class="col-md-4">
        <h2>Players</h2>
        {% include 'player/list.html.twig' %}
    </div>
</div>
{% endblock %}
