{% extends "layout.html.twig" %}

{% block content %}
<div class="row">
    <div class="col-md-8">
        <h2>Recent results</h2>
        {% include 'result/list.html.twig' %}
    </div>
    <div class="col-md-4">
        <h2>Players</h2>
        {% include 'player/list.html.twig' %}
        <h2>Leagues</h2>
        <table class="table table-sm table-stripped">
            {% for league in leagues %}
                <tr>
                    <td>
                        {{ league.name }}
                    </td>
                    <td>
                        {{ league.players|length }}
                    </td>
                </tr>
            {% endfor %}
        </table>
    </div>
</div>
{% endblock %}
