{% extends "layout.html.twig" %}

{% block content %}
<div class="row">
    <div class="col-md-8">
        <h2>Recent results</h2>
        {% include 'result/list.html.twig' %}
    </div>
    <div class="col-md-4">
        <h2>Players</h2>

        <table class="table table-sm table-stripped">
            <thead class="thead-default"><tr>
                <th>Player</th>
                <th>Score</th>
            </tr></thead>
            {% for player in players %}
                <tr>
                    <td>
                        <i class="fa fa-user-circle-o"></i>
                        <a href="/player/{{ player.id }}">{{ player.name }}</a>
                    </td>
                    <td>
                        <strong>{{ player.score }}</strong>
                    </td>
                </tr>
            {% endfor %}
        </table>

    </div>
</div>
{% endblock %}
