{% extends "layout.html.twig" %}

{% block title %}Match{% endblock %}

{% block content %}
    <h2>Match</h2>
    {% if match != null %}
        <h3>Most balanced game:</h3>
        {% for team in match %}
            <div class="team">
                {% for player in team %}
                    <span class="player">{{ player.name }}</span>
                {% endfor %}
            </div>
        {% endfor %}
        </div>
    {% else %}
        <form method="POST">
            <div class="row">
                <div class="col-md-6">
                    <div class="form-group">
                        <label for="playersSelect">Select players</label>
                        <select multiple class="form-control" id="playersSelect" name="players[]">
                            {% for player in players %}
                                <option value="{{ player.id }}">{{ player.name }} {{ player.score }}</option>
                            {% endfor %}
                        </select>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-6">
                    <div class="form-group">
                        <button class="btn btn-primary">Match</button>
                        <button type="button" class="btn btn-default js-clear">Clear</button>
                    </div>
                </div>
            </div>
        </form>
    {% endif %}
{% endblock %}

{% block page_scripts %}
<script>
    $(function () {
        $(document)
            .on('click', '.js-clear', function () {
                $('#playersSelect').find('option:selected').prop('selected', false)
            })
        ;
    });
</script>
{% endblock %}
